
body{
    background-color: #e54c9185;

}

.titulo{
    font-family: 'Inter', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Sulphur Point', sans-serif;
    font-size: 40px;
    color:#000;
    position: absolute;
    margin-left: 500px;

}

.banner{
    width: 350px;
    background: linear-gradient(#E54C91, #F48B7B, #F7AD50);
    border-radius: 30px;
}

.aluno{
    position: relative;
    width: 500px;
    margin-top: 85px;
    margin-left: 5px;
}

.login_simplificado{
    position: absolute;
    margin-left: 500px;
    margin-top: 150px;

}

.icone{
    padding-left: 100px;
    display: inline;
    font-size: 25px;
    
}

.icone_2{
    padding-left: 200px;
    display: inline;
    font-size: 25px;
}

.img_1{
    position: absolute;
    margin-top: 148px;
    margin-left: 580px;
    width:30px ;
}

.img_2{
    position: absolute;
    margin-top: 140px;
    margin-left:850px ;
}

.formulario{
    position: absolute;
    margin-top: 250px;
}

.campo{
    width: 430px; 
    height: 50px ;
    margin-top: 20px ;
    margin-left: 580px;
    border-radius: 10px;
    background: #e54c9144;
    font-family: 'Inria Serif', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 30px;
    
}

.subtexto{
    position: absolute;
    margin-top: 410px;
    margin-left: 589px;
    font-family: 'Inter', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Sulphur Point', sans-serif;
}
